<app-nav></app-nav>
<div class="container" style="width: 100%;
    position: relative;
    bottom: 30px;">
  <div class="starter-template" style="padding: 30px!important;padding-top: 0px !important;">
    <h1>
      <i>Regarder vos statistiques</i>
    </h1>
    <p style="    width: 70%;
    margin: auto;
    margin-top: 15px;">
      <i>
        Sur cette page, vous avez un aperçu du nombre d'écoute de vos muves ainsi que de multiples autres informations<br><br>
      </i>
    </p>
  </div>
  <div *ngIf="noMuves">
    <div class="row" style="text-align: center;padding-top: 50px">
      <div class="col-xs">
        <clr-icon shape="music-note" size="120" class="is-solid">
          Vos muves ont été écoutés {{nbrTotalListen}} fois.</clr-icon>
      </div>
      <div class="col-xs">
        <clr-icon shape="thumbs-up" size="120" class="is-solid">Vos muves ont été likés {{nbrTotalLike}} fois</clr-icon>
      </div>
      <div class="col-xs">
        <clr-icon shape="map-marker" size="120" class="is-solid">Vous avez postés {{nbrTotalMuves}} muves.</clr-icon>
      </div>
      <div class="col-xs">
        <clr-icon shape="users" size="120" class="is-solid">
          Homme: {{nbrMale + ' (' + nbrMale / nbrTotalListener * 100 + '%)'}}<br>
          Femme: {{nbrFemale + ' (' + nbrFemale / nbrTotalListener * 100 + '%)'}}<br>
          Autre: {{nbrOther + ' (' + nbrOther / nbrTotalListener * 100 + '%)'}}
        </clr-icon>
      </div>
    </div>
  </div>
</div>
