.room {
  list-style: none;
  height: 80px;
  border-bottom: 2px #e6e6e6 solid;
  cursor: pointer;
}

.avatarChat {
  width: 50px;
  border-radius: 35px;
  position: relative;
  top: 15px;
  left: 15px;
}

.nameChat {
  margin: 0;
  position: relative;
  bottom: 30%;
  left: 45%;
}
