<div class="login-container bg-info">
  <div class="login-box">
    <div class="container">
      <div class="card col-md-6 mt-3 mx-auto">
        <div class="card-body">
          <h4 class="card-title text-center">
            <img src="assets/splash.png" style="width: 300px">
            <h1>Muve Pro</h1>
          </h4>
          <form (ngSubmit)="login()" [formGroup]="loginForm" novalidate>
            <div class="alert alert-danger" [hidden]="!error || isLoading" translate>
              Email ou mot de passe incorrect.
            </div>
            <div class="auth-source select" style="margin-bottom: 10px">
              <select id="login-auth-source-1" type="text" formControlName="typeAccount" class="form-control">
                <option value="Ypro">Je possède un compte pro</option>
                <option value="Npro">Je n'ai pas encore de compte pro</option>
              </select>
            </div>
            <div class="form-group">
              <label class="d-block">
                <input type="text" class="form-control" formControlName="email"
                       [placeholder]="'Email'"/>
                <span hidden translate>Email</span>
                <small [hidden]="loginForm.controls.email.valid || loginForm.controls.email.untouched"
                       class="text-danger">
                  Email requis
                </small>
              </label>
              <label class="d-block">
                <input type="password" class="form-control" formControlName="password"
                       [placeholder]="'Mot de passe'" required/>
                <span hidden translate>Mot de passe</span>
                <small [hidden]="loginForm.controls.password.valid || loginForm.controls.password.untouched"
                       class="text-danger">
                  Mot de passe requis
                </small>
              </label>
              </div>
            <p *ngIf="loginForm.value.typeAccount === 'Npro'">
              <label for="formFields_9">
                Document d'identité
                <input type="file" id="formFields_9">
              </label>
            </p>
            <label class="d-block">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" formControlName="remember"/>
                <span translate>Se souvenir de moi</span>
              </label>
            </label>
            <button class="btn btn-primary w-100" type="submit" [disabled]="loginForm.invalid || isLoading">
              <i class="fa fa-cog fa-spin" [hidden]="!isLoading"></i>
              <span translate>Connexion</span>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
