<div class="element-style bg-info">
  <div class="login-box">
    <div class="container">
      <div class="card col-md-6 mt-3 mx-auto">
        <div class="card-body">
          <h4 class="card-title text-center">
            <img src="assets/splash.png" style="width: 300px">
            <h1>Muve Pro</h1>
          </h4>
          <form (ngSubmit)="login()" [formGroup]="loginForm" novalidate>
            <div class="alert alert-danger" [hidden]="!error || isLoading" translate>
              Email ou mot de passe incorrect.
            </div>
            <div class="alert alert-danger" [hidden]="!errorPro || isLoading" translate>
              Vous n'avez pas de compte pro validé.
            </div>
            <div class="alert alert-info" [hidden]="!isSend" translate>
              Votre demande est en cours de traitement.
            </div>
            <div class="auth-source select" style="margin-bottom: 10px">
              <select id="login-auth-source-1" type="text" formControlName="typeAccount" class="form-control">
                <option value="Ypro">Je possède un compte pro</option>
                <option value="Npro">Je n'ai pas encore de compte pro</option>
              </select>
            </div>
            <div class="form-group">
              <label class="d-block">
                <input type="text" class="form-control" formControlName="email"
                       [placeholder]="'Email'"/>
                <span hidden translate>Email</span>
                <small [hidden]="loginForm.controls.email.valid || loginForm.controls.email.untouched"
                       class="text-danger">
                  Email requis
                </small>
              </label>
              <label class="d-block">
                <input type="password" class="form-control" formControlName="password"
                       [placeholder]="'Mot de passe'" required/>
                <span hidden translate>Mot de passe</span>
                <small [hidden]="loginForm.controls.password.valid || loginForm.controls.password.untouched"
                       class="text-danger">
                  Mot de passe requis
                </small>
              </label>
            </div>
            <label class="d-block">
              <p *ngIf="this.loginForm.value.typeAccount === 'Npro'">
                <input type="text" class="form-control" formControlName="sendName"
                       [placeholder]="'Votre nom de scène'"/>
              </p>
            </label>
            <div *ngIf="this.loginForm.value.typeAccount !== 'Npro'" class="checkbox">
              <input type="checkbox" id="checkrads_1" formControlName="remember">
              <label for="checkrads_1">Se souvenir de moi</label>
            </div>
            <div class="center-block">
              <button class="btn btn-primary w-100" type="submit" [disabled]="loginForm.invalid || isLoading">
                <i class="fa fa-cog fa-spin" [hidden]="!isLoading"></i>
                <span translate>Connexion</span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
