<nav class="navbar navbar-expand navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">Muve</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{'active' : (router.url.indexOf('dashboard') !== -1)}" href="dashboard">
          <i class="fa fa-tachometer" aria-hidden="true"></i>
          Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{'active' : (router.url.indexOf('musique') !== -1)}" href="musique">
          <i class="fa fa-music" aria-hidden="true" ></i>
          Musique
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{'active' : (router.url.indexOf('stats') !== -1)}" href="#">
          <i class="fa fa-line-chart" aria-hidden="true" ></i>
          Stats
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{'active' : (router.url.indexOf('muves') !== -1)}" href="muves">
          <i class="fa fa-map-marker" aria-hidden="true" ></i>
          Muves
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{'active' : (router.url.indexOf('chat') !== -1)}" href="chat">
          <i class="fa fa-comments" aria-hidden="true" ></i>
          Chat
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{'active' : (router.url.indexOf('events') !== -1)}" href="events">
          <i class="fa fa-calendar" aria-hidden="true" ></i>
          Évènements
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{'active' : (router.url.indexOf('autre') !== -1)}" href="#">
          <i class="fa fa-misc" aria-hidden="true" ></i>
          Autres
        </a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="https://facebook.com/@beeman_nl"><i class="fa fa-facebook" aria-hidden="true"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://twitter.com/@beeman_nl"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      </li>
    </ul>
  </div>
</nav>
