<app-nav></app-nav>
<div class="container">
  <div class="row flex-items-xs-center">
    <div class="col-xs-6">
      <div class="card">
        <div class="card-header">
          Dernier Album
        </div>
        <div class="card-block">
          <div class="card-title">
            Never Be The Same
          </div>
          <div class="card-text">
            10084 muves concernés
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-sm btn-link">Voir l'album</button>
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="card">
        <div class="card-header">
          Prochain Evènement
        </div>
        <div class="card-block">
          <div class="card-title">
            Salle des fêtes de Melun
          </div>
          <div class="card-text">
            21 janvier 2018
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-sm btn-link">Voir l'évenement</button>
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="card">
        <div class="card-header">
          Messages récents
        </div>
        <div class="card-block">
          <div class="card-title">
            De : David Guetta
          </div>
          <div class="card-text">
            C'est horrible ce qu'on fait aux bébés phoques
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-sm btn-link">Voir la conversation</button>
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="card">
        <div class="card-header">
          Statistiques
        </div>
        <div class="card-block">
          <div class="card-title">
            Augmentation de 13%
          </div>
          <div class="card-text">
            80455 muves écoutés
            5040 followers
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-sm btn-link">Voir les statistiques</button>
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="card">
        <div class="card-header">
          Dernier Muve Posté
        </div>
        <div class="card-block">
          <div class="card-title">
            Havana - Gare de Lyon
          </div>
          <div class="card-text">
            3991 écoutes
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-sm btn-link">Voir le Muve</button>
          <button class="btn btn-sm btn-link">Ajouter un nouveau muve</button>
        </div>
      </div>
    </div>

  </div>
</div>
