<app-nav></app-nav>
<div class="container">
  <div class="row flex-items-xs-center">
    <div class="col-xs-6">
      <div class="card">
        <div class="card-header">
          Dernier Album
        </div>
        <div class="card-block" *ngIf="latestAlbum">
          <div class="card-title">
            {{latestAlbum.name}}
          </div>
          <div class="card-text">
            Sortie le {{ latestAlbum.releaseDate | date : 'dd/MM/yyyy' : 'Europe/Paris'}}
          </div>
        </div>
        <div class="card-block" *ngIf="!latestAlbum">
          <div class="card-title">
            Aucun album
          </div>
          <div class="card-text">
            Vous n'avez pas encore d'album sur notre plateforme !
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-sm btn-link" (click)="goTo('musique', 'album')">Voir l'album</button>
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="card">
        <div class="card-header">
          Prochain Evènement
        </div>
        <div class="card-block" *ngIf="nextEvent">
          <div class="card-title">
            {{nextEvent.venue}}
          </div>
          <div class="card-text">
            Le {{ nextEvent.date | date : 'dd/MM/yyyy à HH:mm' : 'Europe/Paris'}} à {{ nextEvent.city}}
          </div>
        </div>
        <div class="card-block" *ngIf="!nextEvent">
          <div class="card-title">
            Aucun évènement à venir
          </div>
          <div class="card-text">
            Vous n'avez pas encore d'évènement à venir !
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-sm btn-link" *ngIf="!nextEvent" (click)="goTo('events');">Créer un évènement</button>
          <button class="btn btn-sm btn-link" *ngIf="nextEvent" (click)="goTo('events', 'tocome')">Voir l'évenement</button>
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="card">
        <div class="card-header">
          Messages récents
        </div>
        <div class="card-block">
          <div class="card-title">
            De : David Guetta
          </div>
          <div class="card-text">
            C'est horrible ce qu'on fait aux bébés phoques
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-sm btn-link">Voir la conversation</button>
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="card">
        <div class="card-header">
          Statistiques
        </div>
        <div class="card-block">
          <div class="card-title">
            Augmentation de 13%
          </div>
          <div class="card-text">
            80455 muves écoutés
            5040 followers
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-sm btn-link">Voir les statistiques</button>
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="card">
        <div class="card-header">
          Dernier Muve Posté
        </div>
        <div class="card-block">
          <div class="card-title">
            Havana - Gare de Lyon
          </div>
          <div class="card-text">
            3991 écoutes
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-sm btn-link">Voir le Muve</button>
          <button class="btn btn-sm btn-link">Ajouter un nouveau muve</button>
        </div>
      </div>
    </div>

  </div>
</div>
