<app-nav></app-nav>
<div class="container">
  <div class="row flex-items-xs-center">
    <div class="col-xs-6">
      <div class="card">
        <div class="card-header">
          Dernier Album
        </div>
        <div class="card-block" *ngIf="latestAlbum">
          <div class="card-title">
            {{latestAlbum.name}}
          </div>
          <div class="card-text">
            Sortie le {{ latestAlbum.releaseDate | date : 'dd/MM/yyyy' : 'Europe/Paris'}}
          </div>
        </div>
        <div class="card-block" *ngIf="!latestAlbum">
          <div class="card-title">
            Aucun album
          </div>
          <div class="card-text">
            Vous n'avez pas encore d'album sur notre plateforme !
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-sm btn-link" *ngIf="latestAlbum" (click)="goTo('musique', 'album')">Voir l'album
          </button>
          <button class="btn btn-sm btn-link" *ngIf="!latestAlbum" (click)="goTo('musique', 'album')">Créer un album
          </button>
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="card">
        <div class="card-header">
          Prochain Evènement
        </div>
        <div class="card-block" *ngIf="nextEvent">
          <div class="card-title">
            {{nextEvent.venue}}
          </div>
          <div class="card-text">
            Le {{ nextEvent.date | date : 'dd/MM/yyyy à HH:mm' : 'Europe/Paris'}} à {{ nextEvent.city}}
          </div>
        </div>
        <div class="card-block" *ngIf="!nextEvent">
          <div class="card-title">
            Aucun évènement à venir
          </div>
          <div class="card-text">
            Vous n'avez pas encore d'évènement à venir !
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-sm btn-link" *ngIf="!nextEvent" (click)="goTo('events');">Créer un évènement</button>
          <button class="btn btn-sm btn-link" *ngIf="nextEvent" (click)="goTo('events', 'tocome')">Voir l'évenement
          </button>
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="card">
        <div class="card-header">
          Messages récents
        </div>
        <div class="card-block" *ngIf="latestMsg && lastSender">
          <div class="card-title">
            De : {{ lastSender.firstName + ' ' + lastSender.lastName}}
          </div>
          <div class="card-text">
            {{latestMsg.body}}
          </div>
        </div>
        <div class="card-block" *ngIf="!latestMsg && !lastSender">
          <div class="card-title">
            Aucun message reçu !
          </div>
          <div class="card-text">
            Vous n'avez pas encore reçu de message !
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-sm btn-link" *ngIf="!latestMsg && !lastSender" (click)="goTo('chat')">Voir le chat
          </button>
          <button class="btn btn-sm btn-link" *ngIf="latestMsg && lastSender" (click)="goTo('chat', latestMsg.room)">
            Voir le chat
          </button>
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="card">
        <div class="card-header">
          Statistiques
        </div>
        <div class="card-block" *ngIf="stats">
          <div class="card-title">
            Vos muves
          </div>
          <div class="card-text">
            Vous avez déposé {{stats}} muves !
          </div>
        </div>
        <div class="card-block" *ngIf="!stats">
          <div class="card-title">
            Pas de statistiques
          </div>
          <div class="card-text">
            Vous n'avez pas encore de statistique à afficher !
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-sm btn-link" (click)="goTo('stats')">Voir les statistiques</button>
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="card">
        <div class="card-header">
          Dernier Muve Posté
        </div>
        <div class="card-block" *ngIf="latestMuve">
          <div class="card-title">
            <li class="music" style="width: 100%!important;">
              <img class="musicThumbail" [src]="latestMuve.music.thumbnail">
              <p class="musicTitle">{{latestMuve.music.title + ' - ' + latestMuve.music.artist}}</p>
            </li>
          </div>
          <div class="card-text">
            {{latestMuve.content}}
          </div>
        </div>
        <div class="card-block" *ngIf="!latestMuve">
          <div class="card-title">
            Aucun Muve
          </div>
          <div class="card-text">
            Vous n'avez pas encore déposé de Muve !
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-sm btn-link" (click)="goTo('muves')">Ajouter un nouveau Muve
          </button>
        </div>
      </div>
    </div>

  </div>
</div>
